<div class="banner_list">
  <div class="card-category card-large" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= asset_path('banner.png') %>)">
    <h1>My lists</h1>
  </div>
</div>

<div class= "container py5">
  <div class="d-flex align-items-center justify-content-center mb-3">
    <div class="row">
      <% @lists.each do |list| %>
        <div class="col-12 col-sm-6 col-md-4">
          <%= link_to list_path(list), class:'text-decoration-none text-muted' do %>
            <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= list.photo.attached? ? cl_image_path(list.photo.key) : asset_path('list_1.png') %>)">
              <%= list.name %>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
