<div class="movie-card">
  <div class="bg-white rounded shadow h-100 m-4">
    <%= image_tag movie.poster_url, alt: movie.title, class: 'movie-img rounded-top' %>
    <div class="p-3 rounded-bottom d-flex flex-column">
      <strong><%= movie.title %> <span class="text-muted font-weight-normal">
      <br> 
      <small class="text-muted"><%= movie.overview %></small>
      <br> 
      <%= link_to 'Add to list', class: 'btn btn-outline-dark' %>
    </div>
  </div>
</div>