// Import your components CSS files here.
@import "alert";
@import "buttons";
@import "navbar";
@import "banner";
@import "card";
@import "tags";
@import "movies";

.container {
  display: flex;
  justify-content: space-around;
  flex-flow: row wrap;
  align-items: center;
  flex-direction: row;
  margin: 24px;
}
